<div class="hero-unit">
  <h1>Bills</h1>
  <p>In this application you can enter bills as a secretary or check bills as a manager. You can also see all bills that have been inserted, and based on the color of a row you can see wether a <span class="text-success">bill has been checked</span>, is waiting to be checked or <span class="text-warning">requires additional data</span>.</p>
  <p>
  <%= link_to 'Bills page', bills_path, :class => 'btn btn-primary btn-large' %>
  </p>
</div>
